.root {
    -fx-background-color: #2a2a2a;
}

.label {
    -fx-text-fill: #bebebe;
}

#gameBoard {
    -fx-cursor: HAND;
}

#markSelectorPane {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #bebebe;
}

#xMarkSelector:hover {
    -fx-text-fill: #60ff00;
    -fx-font-size: 52px;
    -fx-cursor: HAND;
}

#oMarkSelector:hover {
    -fx-text-fill: #60ff00;
    -fx-font-size: 52px;
    -fx-cursor: HAND;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: #bebebe;
    -fx-border-radius: 10px;
    -fx-text-fill: #bebebe;
    -fx-font-size: 16px;
    -fx-cursor: HAND;
}

.button:hover {
    -fx-border-color: #fff;
}


